title{
  text-align:center;
}
body{
  background-image:url("https://www.w3schools.com/css/img_lights.jpg");
}

h1{
  color: white;
}
h2{color:red;
}
h3{
  color: red;
  text-align: center;
}
p{
  color:blue;
}
ul{
  text-align: center;
}
li{
  color: white;
  font-family: fantasy;
  text-align: center;
}
